.containerMain>.cards {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;



  &>.card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: $cardwidth*1.3;
    min-width: $minwidth;
    height: $cardheight*1.1;
    margin: 1.1rem;
    box-shadow: $boxShadow;
    cursor: pointer;



    @include media(sm) {
      height: ($cardheight*1.6);
      margin: 1.3rem;
      width: $cardwidth*1.9;

    }

    @include media(md) {
      margin: 2.3rem 2.3rem;
      width: ($cardwidth*1.3);
      height: ($cardheight*1.4);
    }

    @include media(lg) {
      width: ($cardwidth*1.6);
      height: ($cardheight*1.8);
      margin: 2.5rem 2.5rem;
      font-size: ($fontSize*1.3);
    }

    @include media(xl) {
      width: ($cardwidth*1);
      height: ($cardheight*1.2);
      font-size: ($fontSize*1.3);
      margin: 1rem 2.5rem;
      text-align: center;
      ;
    }
  }
}



.card {



  &>.card__headingNote {
    font-family: 'Devonshire';
    font-weight: 100;
    font-size: 1.3rem;

    @include media(sm) {
      font-size: 2rem;
    }

    @include media(md) {
      font-size: 1.5rem;
    }

    @include media(lg) {
      font-size: 2rem;
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 2rem;
      background: url("../../Public/Images/noteMusic.svg") center center /contain no-repeat;
    }
  }

  &>.card__subHeadingNote {
    text-transform: uppercase;
    font-family: 'Kalam', cursive;
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 0;

    @include media(sm) {
      font-size: 1.9rem;
    }

    @include media(md) {
      font-size: 1.9rem;
    }

    @include media(lg) {
      font-size: 2rem;
    }

  }

  &>.card__headingChic {
    font-family: 'Croissant One';
    font-weight: 100;
    font-size: 0.9rem;
    background: linear-gradient(171deg, #e38913 25%, #905bfd 70%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @include media(sm) {
      font-size: 1.6rem;
    }

    @include media(md) {
      font-size: 1.1rem;
    }

    @include media(lg) {
      font-size: 1.6rem;
    }

  }

  &>.card__subHeadingChic {
    font-family: 'Noto Serif';
    font-size: 1.6rem;
    margin-top: 0;
    color: #e38913;

    @include media(sm) {
      font-size: 2rem;
    }

    @include media(md) {
      font-size: 1.8rem;
    }

    @include media(lg) {
      font-size: 1.9rem;
    }
  }

  &>.card__headingDelice {
    font-family: 'Dancing Script';
    font-weight: 100;
    background: linear-gradient(175deg, #0022db 40%, #1a91fb 70%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 0.5rem;
    font-size: 1.3rem;

    @include media(sm) {
      font-size: 2.2rem;
    }

    @include media(md) {
      font-size: 1.9rem;
    }

    @include media(lg) {
      font-size: 2rem;
    }

    // @include media(md) {
    //   font-size: 1.5rem;
    // }

    // @include media(lg) {
    //   font-size: 2rem;
    // }

  }

  &>.card__subHeadingDelice {
    font-family: 'Kalam', cursive;
    font-weight: 100;
    font-size: 1.7rem;
    margin-top: 0;
    color: #1a91fb;

    @include media(sm) {
      font-size: 2.5rem;
    }

    @include media(md) {
      font-size: 1.9rem;
    }

    @include media(lg) {
      font-size: 2rem;
    }

  }

  &>.card__headingPalette {
    font-family: 'Kaushan Script';
    font-weight: 100;
    background: linear-gradient(160deg, #62b24e 40%, #bfff7e 62%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.25rem;

    @include media(sm) {
      font-size: 2.2rem;
    }

    @include media(md) {
      font-size: 1.45rem;
    }


    @include media(lg) {
      font-size: 2rem;
    }

  }

  &>.card__subHeadingPalette {
    font-family: 'Kalam', cursive;
    font-weight: 100;
    font-size: 1.7rem;
    margin-top: 0;
    color: #62b24e;

    @include media(sm) {
      font-size: 2.5rem;
    }

    @include media(md) {
      font-size: 1.9rem;
    }

    @include media(lg) {
      font-size: 2rem;
    }
  }

  @include media(sm) {
    font-size: 2.6rem;
  }

  @include media(md) {
    font-size: 1.9rem;
  }

  @include media(lg) {
    font-size: 2rem;
  }
}


.--backNote {

  background: map-get($palettes, backNote);


}

.--backChic {
  background: map-get($palettes, backChic);
}

.--backDelice {
  background: map-get($palettes, backDelice);

}

.--backPalette {
  background: map-get($palettes, backPalette);

}