.containerMain__heading {
  font-size: 1.2rem;
  text-align: center;
}


.card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex: none;
  padding-top: 1rem;
  overflow: hidden;

  // margin-bottom: 6rem;
  box-shadow: $boxShadow;
  cursor: pointer;

  @include media(sm) {
    min-width: $minwidth;
  }

  &>.card__headingNote {
    // text-align: center;
    font-family: 'Devonshire';
    font-weight: 100;
    font-size: 1.3rem;
    box-shadow: none;
    padding-right: 0.5rem;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 2rem;
      background: url("../../Public/Images/noteMusic.svg") center center /contain no-repeat;
    }

  }

  @include media(sm) {
    // margin: 1.1rem;
  }

  @include media(md) {
    margin: 1.33rem;

  }

  @include media(lg) {}

  @include media(xl) {}
}

.sect {

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0 1rem;
  font-size: 0.9rem;
  font-family: 'Kalam';
  text-align: center;
  width: 95%;

  @include media(sm) {
    padding: auto 1rem;
    font-size: 0.9rem;
    font-family: 'Kalam';
    text-align: left;
    width: 95%;
  }

  @include media(md) {}

  @include media(lg) {}

  @include media(xl) {}

  &>.sect__subHeadingNote {
    text-align: center;
    color: rgb(34, 134, 55);
    // flex: none;
    display: block;
    overflow: hidden;

    // &::after {
    //   content: "";
    //   // position: fixed;
    //   display: block;
    //   width: 2rem;
    //   height: 1rem;
    //   background: url("../../Public/Images/rightstraightNoteEnchante-\ 3.svg") center center /contain no-repeat;
    //   transform: translate(12rem, 0rem);
    //   background-color: blue;
    //   // margin-right: 2rem;
    // }
  }

  &>ul>li {
    @include media(sm) {
      text-align: left;
      padding-bottom: 1rem;
    }
  }

  &>ul>li::after {
    content: attr(data-count);
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    // padding-top: 0rem;

    @include media(sm) {
      content: attr(data-count);
      float: right;
      padding: 0 1rem;

    }

    @include media(md) {
      content: attr(data-count);
      float: right;
      padding: 0 1rem;
    }

    @include media(lg) {
      content: attr(data-count);
      float: right;

    }

    @include media(xl) {}
  }
}





.footerNote {
  padding-top: 1rem;
  padding-bottom: 3rem;
  font-family: 'Devonshire';
  font-weight: 100;
  font-size: 1.3rem;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 1.8rem;
    background: url("../../Public/Images/noteMusic.svg") center center /contain no-repeat;
    transform: translate(-4.9rem, 1.6rem)
  }
}

.--backNote {
  background: map-get($palettes, backNote);
}


// &>.card__subHeadingNote {
//   text-transform: uppercase;
//   font-family: 'Kalam', cursive;
//   font-weight: 400;
//   font-size: 1.7rem;
//   margin-top: 0;

//   @include media(md) {
//     font-size: 1.9rem;
//   }

//   @include media(lg) {
//     font-size: 2rem;
//   }

// 