.containerMain__heading {
  font-size: 1.2rem;
  text-align: center;

  @include media(md) {
    font-size: 1.8rem;
  }

}


.card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex: none;
  padding-top: 1rem;
  box-shadow: $boxShadow;
  cursor: pointer;

  &.m--backNote {
    background: map-get($palettes, backNote);
  }

  @include media(sm) {
    min-width: $minwidth;
  }

  &>.card__headingNote {
    width: 100%;
    text-align: center;
    font-family: 'Devonshire';
    font-weight: 100;
    font-size: 1.3rem;
    box-shadow: none;
    padding-right: 0.5rem;

    @include media(md) {
      font-size: 1.9rem;
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 2rem;
      background: url("../../Public/Images/noteMusic.svg") center center /contain no-repeat;

      @include media(md) {
        height: 3rem;
        width: 200%;
      }

      @include media(lg) {
        height: 4rem;
        width: 200%;
      }
    }


  }
}

.sect {

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0 1rem;
  font-size: 1rem;
  font-family: 'Kalam';
  text-align: center;
  width: 95%;


  @include media(sm) {
    font-size: 0.9rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Kalam';
    text-align: left;
  }

  @include media(md) {
    font-size: 1rem;

  }

  @include media(lg) {
    font-size: 1.1rem;

  }

  &>.sect__subHeadingNote {
    text-align: center;
    display: block;
    font-size: 1.1rem;

    @include media(md) {
      font-size: 1.2rem;
    }

    &::after {
      content: "";
      display: block;
      width: 30%;
      height: 0.5rem;
      background: url("../../Public/Images/rightstraightNoteEnchante-\ 3.svg") center center /contain no-repeat;
      transform: translate(11rem, -1.1rem);

      @include media(xsSm) {
        transform: translate(14rem, -1.1rem);
      }

      @include media(sm) {
        transform: translate(20.5rem, -1.1rem);
      }

      @include media(md) {
        transform: translate(23.7rem, -1.1rem);
        height: 0.4rem;
      }

      @include media(lg) {
        transform: translate(30.2rem, -1.1rem);
        height: 0.5rem;
      }

      @include media(xl) {
        transform: translate(34.7rem, -1.1rem);
      }
    }

    &::before {
      content: "";
      display: block;
      width: 30%;
      height: 0.5rem;
      background: url("../../Public/Images/leftstraightNoteEnchante.svg") center center /contain no-repeat;
      transform: translate(-1.9rem, 1.1rem);

      @include media(sm) {
        transform: translate(-1.3rem, 1.1rem);
      }

      @include media(md) {
        transform: translate(-1.2rem, 1.1rem);
      }
    }
  }

  &>ul>li {
    @include media(sm) {
      text-align: left;
      padding-bottom: 1rem;
    }
  }

  &>ul>li::after {
    content: attr(data-count);
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;

    @include media(sm) {
      content: attr(data-count);
      float: right;
      padding: 0 1rem;

    }

    @include media(md) {
      content: attr(data-count);
      float: right;
      padding: 0 1rem;
    }

    @include media(lg) {
      content: attr(data-count);
      float: right;

    }

    @include media(xl) {}
  }
}

.footerNote {
  padding-top: 1rem;
  padding-bottom: 3rem;
  font-family: 'Devonshire';
  font-weight: 100;
  font-size: 1.3rem;

  @include media(md) {
    font-size: 1.8rem;
  }


  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 1.8rem;
    background: url("../../Public/Images/noteMusic.svg") center center /contain no-repeat;
    transform: translate(-4.9rem, 1.6rem);

    @include media(md) {
      transform: translate(-6.2rem, 1.9rem);

    }
  }
}




h3>.underline {
  @include underline;

}