.containerMain__heading {
  font-size: 1.2rem;
  text-align: center;

  @include media(md) {
    font-size: 1.8rem;
  }

}


.card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex: none;
  padding-top: 1rem;
  overflow: hidden;

  margin-bottom: 3rem;
  box-shadow: $boxShadow;
  cursor: pointer;

  @include media(sm) {
    min-width: $minwidth;
  }

  &>.card__heading {
    width: 100%;
    text-align: center;
    font-family: 'Kaushan Script';
    font-weight: 100;
    font-size: 2rem;
    box-shadow: none;
    padding-right: 0.5rem;
    font-family: 'Kaushan Script';
    color: #fdcb46;
     background: linear-gradient(160deg, #fdcb46 40%, #ffe7a7 62%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include media(xsSm) {
      font-size: 2.1rem;
    }

    @include media(sm) {
      font-size: 2.5rem;
    }

    @include media(md) {
      font-size: 2.6rem;
    }
  }
}

.sect {

  &.m--dessert {
    padding-bottom: 6rem;

  }

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0 1rem;
  font-size: 1rem;
  font-family: 'Kalam';
  text-align: center;
  width: 95%;

  @include media(sm) {
    padding: 0 1rem;
    font-size: 1rem;
    font-family: 'Kalam';
    text-align: left;
    width: 95%;
  }

  &>.sect__subHeading {
    text-align: center;
    display: block;
    font-weight: 400;
    font-size: 1.2rem;

    @include media(md) {
      font-size: 1.3rem;
    }

    @include media(lg) {
      font-size: 1.4rem;
    }



    &::after {
      content: "";
      display: block;
      width: 30%;
      height: 0.5rem;
      background: url("../../Public/Images/rightStraightPaletteDuGoutdegCitron.svg") center center /contain no-repeat;

      transform: translate(11rem, -1.1rem);

      @include media(xsSm) {
        transform: translate(14rem, -1.1rem);
      }

      @include media(sm) {
        transform: translate(21.3rem, -1.1rem);
      }

      @include media(md) {
        transform: translate(24.9rem, -1.1rem);
        height: 0.4rem;
      }

      @include media(lg) {
        transform: translate(31rem, -1.1rem);
        height: 0.5rem;
      }

      @include media(xl) {
        transform: translate(35.5rem, -1.1rem);
      }
    }

    &::before {

      content: "";
      display: block;
      width: 30%;
      height: 0.5rem;
      background: url("../../Public/Images/leftStraightPaletteDuGoutDegradécitron.svg") center center /contain no-repeat;
      transform: translate(-1.9rem, 1.3rem);

      @include media(sm) {
        transform: translate(-1.3rem, 1.3rem);
      }

      @include media(md) {
        transform: translate(-1.3rem, 1.3rem);
      }

      @include media(lg) {
        transform: translate(-1.3rem, 1.5rem);
      }
    }
  }

  &>ul>li {
    @include media(sm) {
      text-align: left;
      padding-bottom: 1rem;
    }
  }

  &>ul>li::after {
    content: attr(data-count);
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;

    @include media(sm) {
      content: attr(data-count);
      float: right;
      padding: 0 1rem;

    }

    @include media(md) {
      content: attr(data-count);
      float: right;
      padding: 0 1rem;
    }

    @include media(lg) {
      content: attr(data-count);
      float: right;

    }

    @include media(xl) {}
  }
}


.m--backPalette {
  background: map-get($palettes, backPalette);

}


span {
  @include underline;
}