.containerMain__heading {
  font-size: 1.2rem;
  text-align: center;

  @include media(md) {
    font-size: 1.8rem;
  }

}


.card {
  font-family: 'Noto Serif';
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex: none;
  padding-top: 1rem;
  overflow: hidden;
  padding-bottom: 3.5rem;
  padding-top: 2.5rem;

  // margin-bottom: 6rem;
  box-shadow: $boxShadow;
  cursor: pointer;

  @include media(sm) {
    min-width: $minwidth;
  }

  &>.card__headingChic {
    width: 100%;
    text-align: center;
    font-family: 'Croissant One';
    font-weight: 100;
    font-size: 1.3rem;
    box-shadow: none;
    padding-right: 0.5rem;
    background: linear-gradient(171deg, #e38913 25%, #905bfd 70%);
    background-clip: text;
    padding-bottom: 1rem;
    -webkit-text-fill-color: transparent;

    @include media(md) {
      font-size: 1.9rem;
    }

  }
}


.sect {

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0 1rem;
  font-size: 0.65rem;
  text-align: center;
  width: 95%;
  font-family: 'Noto Serif JP';

  @include media(sm) {

    padding: auto 1rem;
    text-align: left;
    width: 95%;
  }



  &>.sect__subHeadingChicstart {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 0.9rem;

    @include media(lg) {
      // font-size: 1.1rem;
    }

    @include media(xl) {}

    &::after {
      content: "";
      display: block;
      width: 30%;
      height: 0.2rem;
      background: url("../../Public/Images/RightStraightChicFrancestart.svg") center center /contain no-repeat;
      transform: translate(12.5rem, -0.6rem);

      @include media(xsSm) {
        transform: translate(15rem, -0.8rem);
        height: 0.5rem;
      }

      @include media(sm) {
        transform: translate(20.5rem, -0.8rem);
      }

      @include media(md) {
        transform: translate(23.5rem, -0.8rem);
        height: 0.5rem;
      }

      @include media(lg) {
        transform: translate(30.7rem, -0.8rem);
        height: 0.5rem;
      }

      @include media(xl) {
        transform: translate(36.7rem, -0.8rem);
      }
    }

    &::before {
      content: "";
      display: block;
      width: 30%;
      height: 0.5rem;
      background: url("../../Public/Images/leftStraightChicFrancestart.svg") center center /contain no-repeat;
      transform: translate(-3.2rem, 1rem);

      @include media(sm) {
        transform: translate(-1.3rem, 0.8rem);
      }

      @include media(md) {
        transform: translate(-1.2rem, 0.8rem);
      }

      @include media(lg) {
        transform: translate(-2.2rem, 0.8rem);
      }

      @include media(xl) {
        transform: translate(-3.2rem, 0.8rem);
      }
    }
  }

  &>.sect__subHeadingChicdessert {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 0.9rem;

    @include media(md) {}

    @include media(lg) {}

    @include media(xl) {}

    &::after {
      content: "";
      display: block;
      width: 30%;
      height: 0.5rem;
      background: url("../../Public/Images/RightStraightChicFrancedessert.svg") center center /contain no-repeat;
      transform: translate(12.4rem, -0.8rem);


      @include media(xsSm) {
        transform: translate(15rem, -0.8rem);
      }

      @include media(sm) {
        transform: translate(20.5rem, -0.8rem);
      }

      @include media(md) {
        transform: translate(23.7rem, -0.8rem);
        height: 0.5rem;
      }

      @include media(lg) {
        transform: translate(30.8rem, -0.8rem);
        height: 0.5rem;
      }

      @include media(xl) {
        transform: translate(36.7rem, -0.8rem);
      }
    }

    &::before {
      content: "";
      display: block;
      width: 30%;
      height: 0.5rem;
      background: url("../../Public/Images/leftStraightChicFrancedessert.svg") center center /contain no-repeat;
      transform: translate(-3.4rem, 1rem);

      @include media(sm) {
        transform: translate(-1.3rem, 1rem);
      }

      @include media(md) {
        transform: translate(-1.2rem, 1rem);
      }

      @include media(lg) {
        transform: translate(-2.2rem, 1rem);
      }

      @include media(xl) {
        transform: translate(-3.2rem, 1rem);
      }
    }
  }

  &>.sect__subHeadingChicdish {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 0.9rem;

    @include media(md) {}

    @include media(lg) {
      // font-size: 1.2rem;
    }

    @include media(xl) {}

    &::after {
      content: "";
      display: block;
      width: 30%;
      height: 0.5rem;
      background: url("../../Public/Images/RightStraightChicFrancedish.svg") center center /contain no-repeat;
      transform: translate(12.3rem, -0.8rem);

      @include media(xsSm) {
        transform: translate(15rem, -0.8rem);
      }

      @include media(sm) {
        transform: translate(20.5rem, -0.8rem);
      }

      @include media(md) {
        transform: translate(23.7rem, -0.8rem);
        height: 0.5rem;
      }

      @include media(lg) {
        transform: translate(31.2rem, -0.8rem);
        height: 0.5rem;
      }

      @include media(xl) {
        transform: translate(36.7rem, -0.8rem);
      }
    }

    &::before {
      content: "";
      display: block;
      width: 30%;
      height: 0.5rem;
      background: url("../../Public/Images/leftStraightChicFrancedish.svg") center center /contain no-repeat;
      transform: translate(-2.9rem, 1rem);

      @include media(sm) {
        transform: translate(-1.3rem, 1rem);
      }

      @include media(md) {
        transform: translate(-1.2rem, 1rem);
      }

      @include media(lg) {
        transform: translate(-2.2rem, 1rem);
      }

      @include media(xl) {
        transform: translate(-3.2rem, 1rem);
      }
    }
  }


  &>ul>li {
    @include media(sm) {
      text-align: left;
      padding-bottom: 1rem;
    }
  }

  &>ul>li::after {
    content: attr(data-count);
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;

    @include media(sm) {
      content: attr(data-count);
      float: right;
      padding: 0 1rem;

    }

    @include media(md) {
      content: attr(data-count);
      float: right;
      padding: 0 1rem;
    }

    @include media(lg) {
      content: attr(data-count);
      float: right;

    }

    @include media(xl) {}
  }
}



.--backChic {
  background: map-get($palettes, backChic);
}

.--starter {
  color: map-get($palettes, textChicSection1);
}

.--dish {
  color: map-get($palettes, textChicSection2);
}

.--dessert {
  color: map-get($palettes, textChicSection3);
}

h3>.underline {
  @include underline;
}