// &>.card__headingPalette {
//   font-family: 'Kaushan Script';
//   font-weight: 100;
//   background: linear-gradient(160deg, #62b24e 40%, #bfff7e 62%);
//   background-clip: text;
//   -webkit-text-fill-color: transparent;
//   font-size: 1.25rem;

//   @include media(md) {
//     font-size: 1.45rem;
//   }

//   @include media(lg) {
//     font-size: 1.9rem;
//   }


// }

// &>.card__subHeadingPalette {
//   font-family: 'Kalam', cursive;
//   font-weight: 100;
//   font-size: 1.7rem;
//   margin-top: 0;
//   color: #62b24e;
// }

// @include media(md) {
//   font-size: 1.9rem;
// }

// @include media(lg) {
//   font-size: 2rem;
// }












.containerMain__heading {
  font-size: 1.2rem;
  text-align: center;

  @include media(md) {
    font-size: 1.8rem;
  }

}


.card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex: none;
  padding-top: 1rem;
  overflow: hidden;

  margin-bottom: 3rem;
  box-shadow: $boxShadow;
  cursor: pointer;

  @include media(sm) {
    min-width: $minwidth;
  }

  &>.card__headingPalette {

    text-align: center;
    font-family: 'Kaushan Script';
    font-weight: 100;
    font-size: 2rem;
    box-shadow: none;
    padding-right: 0.5rem;
    font-family: 'Kaushan Script';
    background: linear-gradient(160deg, #62b24e 40%, #bfff7e 62%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    @include media(xsSm) {
      font-size: 2.1rem;
    }

    @include media(sm) {
      font-size: 2.5rem;
    }

    @include media(md) {
      font-size: 2.6rem;
    }
  }
}

.sect {

  &.--dessert {
    padding-bottom: 6rem;

  }

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0 1rem;
  font-size: 0.9rem;
  font-family: 'Kalam';
  text-align: center;
  width: 95%;

  @include media(sm) {
    padding: auto 1rem;
    font-size: 0.9rem;
    font-family: 'Kalam';
    text-align: left;
    width: 95%;
  }

  @include media(md) {}

  @include media(lg) {}

  @include media(xl) {}

  &>.sect__subHeadingPalette {
    text-align: center;
    display: block;
    font-weight: 400;

    @include media(md) {
      font-size: 1.2rem;
    }

    @include media(lg) {
      font-size: 1.2rem;
    }

    @include media(xl) {}






    @include media(lg) {}

    @include media(xl) {}

    &::after {
      content: "";
      display: block;
      width: 30%;
      height: 0.5rem;
      background: url("../../Public/Images/rightStraightPaletteDuGout.svg") center center /contain no-repeat;

      transform: translate(8rem, -1rem);

      @include media(xsSm) {
        transform: translate(14rem, -1rem);
      }

      @include media(sm) {
        transform: translate(20.5rem, -1rem);
      }

      @include media(md) {
        transform: translate(23.7rem, -1rem);
        height: 0.4rem;
      }

      @include media(lg) {
        transform: translate(30.2rem, -1rem);
        height: 0.5rem;
      }

      @include media(xl) {
        transform: translate(34.7rem, -1rem);
      }
    }

    &::before {

      content: "";
      display: block;
      width: 30%;
      height: 0.5rem;
      background: url("../../Public/Images/leftStraightPaletteDuGout.svg") center center /contain no-repeat;
      transform: translate(-1.9rem, 1rem);



      @include media(sm) {
        transform: translate(-1.3rem, 1rem);
      }

      @include media(md) {
        transform: translate(-1.2rem, 1.3rem);
      }
    }
  }

  &>ul>li {
    @include media(sm) {
      text-align: left;
      padding-bottom: 1rem;
    }
  }

  &>ul>li::after {
    content: attr(data-count);
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;

    @include media(sm) {
      content: attr(data-count);
      float: right;
      padding: 0 1rem;

    }

    @include media(md) {
      content: attr(data-count);
      float: right;
      padding: 0 1rem;
    }

    @include media(lg) {
      content: attr(data-count);
      float: right;

    }

    @include media(xl) {}
  }
}


.--backPalette {
  background: map-get($palettes, backPalette);

}