.containerMain>.cards {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  overflow: hidden;

  &>.card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: $cardwidth*1.3;
    min-width: $minwidth;
    height: $cardheight*1.1;
    margin: 1.1rem;
    box-shadow: $boxShadow;
    cursor: pointer;
    overflow: hidden;

    @include media(sm) {
      height: ($cardheight*1.6);
      margin: 1.3rem;
      width: $cardwidth*1.9;
    }

    @include media(md) {
      margin: 2.3rem 2.3rem;
      width: ($cardwidth*1.3);
      height: ($cardheight*1.4);
    }

    @include media(lg) {
      width: ($cardwidth*1.6);
      height: ($cardheight*1.8);
      margin: 2.5rem 2.5rem;
      font-size: ($fontSize*1.3);
    }

    @include media(xl) {
      width: ($cardwidth*1);
      height: ($cardheight*1.2);
      font-size: ($fontSize*1.3);
      margin: 1rem 2.5rem;
      text-align: center;
    }
  }
}

// SVG  //

.svgHeader {

  width: 300px;
  height: 60px;
  margin: auto;
}


.card {
  overflow: hidden;
  display: flex;

  &.m--backNote {

    background: map-get($palettes, backNote);


  }

  &.m--backChic {
    background: map-get($palettes, backChic);
  }

  &.m--backDelice {
    background: map-get($palettes, backDelice);

  }

  &.m--backPalette {
    background: map-get($palettes, backPalette);

  }


  &>.card__headingNote {
    display: block;
    font-family: 'Devonshire';
    font-weight: 100;
    font-size: 1.4rem;

    @include media(sm) {
      font-size: 2rem;
    }

    @include media(md) {
      font-size: 1.7rem;
    }

    @include media(lg) {
      font-size: 2.3rem;
      margin-bottom: 1.8rem;

    }

    @include media(xl) {
      font-size: 1.5rem;

    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 2rem;
      background: url("../../Public/Images/noteMusic.svg") center center /contain no-repeat;
    }
  }

  &>.card__subHeadingNote {
    text-transform: uppercase;
    font-family: 'Kalam', cursive;
    font-weight: 400;
    font-size: 1.6rem;
    margin-top: 0;

    @include media(sm) {
      font-size: 1.8rem;
    }

    @include media(md) {
      font-size: 1.8rem;
      margin-bottom: 4.5rem;
      padding-top: 1rem;
    }

    @include media(lg) {
      font-size: 1.8rem;
      margin-bottom: 6.2rem;
      padding-top: 0.4rem;
    }

    @include media(xl) {
      margin-bottom: 4rem;
      padding-top: 0.5rem;
    }
  }

  &>.card__headingChic {
    width: 100%;
    margin: 0 auto;
    font-family: 'Croissant One';
    font-weight: 100;
    font-size: 1.1rem;
    // color: #e38913;
    // background: linear-gradient(171deg, #e38913 25%, #905bfd 70%);
    // background-clip: text;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;

    @include media(sm) {
      font-size: 1.6rem;
    }

    @include media(md) {
      font-size: 1.2rem;
    }

    @include media(lg) {
      font-size: 1.45rem;
    }

    @include media(xl) {
      font-size: 0.95rem;
    }

  }

  &>.card__subHeadingChic {
    font-family: 'Noto Serif';
    font-size: 1.6rem;
    color: #e38913;

    @include media(sm) {
      font-size: 2rem;
    }

    @include media(md) {
      font-size: 1.8rem;
    }

    @include media(lg) {
      font-size: 1.9rem;
    }

    @include media(xl) {
      margin-top: 1rem;
    }
  }



  &>.card__headingDelice {
    font-family: 'Dancing Script';
    font-weight: 100;
    padding-left: 0.5rem;
    font-size: 1.5rem;

    @include media(sm) {
      font-size: 2.2rem;
    }

    @include media(md) {
      font-size: 1.9rem;
    }

    @include media(lg) {
      font-size: 2.3rem;
    }

    @include media(xl) {
      font-size: 1.5rem;
    }
  }

  &>.card__subHeadingDelice {
    font-family: 'Kalam', cursive;
    font-weight: 100;
    font-size: 1.7rem;
    margin-top: 0;
    color: #1a91fb;

    @include media(sm) {
      font-size: 2.5rem;
    }

    @include media(md) {
      font-size: 1.9rem;
    }

    @include media(lg) {
      font-size: 2rem;
    }

    @include media(xl) {
      font-size: 2rem;
    }
  }

  &>.card__headingPalette {
    font-family: 'Kaushan Script';
    font-weight: 100;
    font-size: 1.5rem;

    @include media(sm) {
      font-size: 2.2rem;
    }

    @include media(md) {
      font-size: 1.7rem;
    }

    @include media(lg) {
      font-size: 2.3rem;
    }

    @include media(xl) {
      font-size: 1.5rem;
    }

  }

  &>.card__subHeadingPalette {
    font-family: 'Kalam', cursive;
    font-weight: 100;
    font-size: 1.7rem;
    margin-top: 0;
    color: #62b24e;

    @include media(sm) {
      font-size: 2.5rem;
    }

    @include media(md) {
      font-size: 1.9rem;
    }

    @include media(lg) {
      font-size: 2rem;
    }
  }

  @include media(sm) {
    font-size: 2.6rem;
  }

  @include media(md) {
    font-size: 1.9rem;
  }

  @include media(lg) {
    font-size: 2rem;
  }
}


.card {
  transition: 0.8s;
  max-width: 100%;
  overflow: hidden;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;

  &.m--zoom:hover {

    transform: scale(1.3);
    opacity: (.4);


  }
}



// //###### ken burns effect img######//

// #zoom {
//   overflow: hidden;
//   width: 100%;
//   height: 100%;
// }
// #zoom img {

//   // transform: translateY(100rem);
//   width: 100%;
//   margin: auto auto;
//   // position: relative;
//   // transform: scale(1);
//   transition-property: all;
//   transition-duration: 0.8s;
//   transition-timing-function: ease-in-out;
//   transition-delay: 0s;
//   z-index: 4;

//   &:hover {
//     transform: scale(1.3);
//     opacity: (.4);
//   }
// }