.containerMain {
  margin: 0 auto;
  background: rgb(255, 255, 255);
  padding: 1rem;
  margin-bottom: 6rem;

  @include media(xs) {
    min-width: 16rem;
    width: $cardwidth;
    max-width: map-get($containerMaxWidths, xs);
  }

  @include media(xsSm) {
    padding: 1.3rem 0;
    max-width: map-get($containerMaxWidths, xsSm);
  }

  @include media(sm) {
    padding: 1.3rem 0;
    max-width: map-get($containerMaxWidths, sm);
  }

  @include media(md) {
    padding: 1.3rem 0;
    max-width: map-get($containerMaxWidths, md);
  }

  @include media(lg) {
    padding: 1.3rem 0;
    max-width: map-get($containerMaxWidths, lg);
  }

  @include media(xl) {
    padding: 1.3rem 0;
    max-width: map-get($containerMaxWidths, xl);
  }
}