.footer {

  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: $fontSize;



  @include media(sm) {
    padding: 1rem;
    font-size: $fontSize*1.3;
  }

  @include media(md) {
    padding: 1.1rem;
    font-size: $fontSize*1.4;
  }

  @include media(lg) {
    padding: 1.2rem;
    font-size: $fontSize*1.5;
  }

  @include media(xl) {
    padding: 1.3rem;
    font-size: $fontSize*1.6;
  }
}

footer>div>a {
  @include wiggle
}