.header {
  text-align: center;
  min-width: 20rem;

  &.header__heading {
    margin: 0 auto;
    padding: 0.6rem 0;
    font-size: $fontSize*2.8;
    letter-spacing: -0.2rem;
    font-weight: 900;

    @include media(sm) {
      font-size: $fontSize*3.7;
    }

    @include media(md) {
      font-size: $fontSize*4.5;
    }

    @include media(lg) {
      font-size: $fontSize*4.7;
    }

    @include media(xl) {
      padding: 1.8rem 0;
      font-size: $fontSize*6;
    }
  }
}

.m--outlinePrimary {
  background: map-get($palettes, outlinePrimary);

}

.m--outlineTextPrimary {
  color: map-get($palettes, outlineTextPrimary);

}