.header {
  text-align: center;

  &.header__heading {
    margin: 0 auto;
    padding: 0.9rem 0;
    font-size: $fontSize*2.8;
    letter-spacing: -0.2rem;
    font-weight: 900;


    @include media(sm) {
      // padding: 1.3rem 0;
      font-size: $fontSize*3.7;
    }

    @include media(md) {
      // padding: 1.4rem 0;
      font-size: $fontSize*4.5;
    }

    @include media(lg) {
      // padding: 1.6rem 0;
      font-size: $fontSize*4.7;
    }

    @include media(xl) {
      padding: 2rem 0;
      font-size: $fontSize*6;
    }
  }
}

.--outlinePrimary {
  background: map-get($palettes, outlinePrimary);
}



.--outlineTextPrimary {
  color: map-get($palettes, outlineTextPrimary);

}