.header {
  text-align: center;

  // width: 100%;
  // display: block;
  &.header__heading {
    margin: 0;
    padding: 0.9rem 0;
    // font-size: $fontSize*2;
    letter-spacing: -0.2rem;
    font-weight: 900;


    @include media(sm) {
      // padding: 1.3rem 0;
      font-size: $fontSize*3;
    }

    @include media(md) {
      // padding: 1.4rem 0;
      font-size: $fontSize*3.2;
    }

    @include media(lg) {
      // padding: 1.6rem 0;
      font-size: $fontSize*3.3;
    }

    @include media(xl) {
      padding: 2rem 0;
      font-size: $fontSize*3.4;
    }
  }
}

.--outlinePrimary {
  background: map-get($palettes, outlinePrimary);
}



.--outlineTextPrimary {
  color: map-get($palettes, outlineTextPrimary);

}