 @import '../../Sass/Base/reset';
 @import '../../Sass/Base/typography';
 @import '../../Sass/Utils/variablesPages';
 @import '../../Sass/Utils/mixins';
 @import '../../Sass/Utils/functions';
 @import'../../Sass/Layout/containerMainPagesPalette';
 @import '../../Sass/Layout/cardsmentionsLegales';
 @import '../../Sass/Layout/header';
 @import '../../Sass/Layout/footer';