@charset "UTF-8";
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  -webkit-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: 'Open Sans', "sans-serif";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #fff;
}

body {
  background-color: #fff;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.containerMain {
  margin: 0 auto;
  background: white;
  padding: 1rem;
  margin-bottom: 6rem;
}

@media only screen and (max-width: 469px) {
  .containerMain {
    min-width: 16rem;
    width: 20rem;
    max-width: 350px;
  }
}

@media only screen and (min-width: 470px) {
  .containerMain {
    padding: 1.3rem 0;
    max-width: 360px;
  }
}

@media only screen and (min-width: 545px) {
  .containerMain {
    padding: 1.3rem 0;
    max-width: 540px;
  }
}

@media only screen and (min-width: 625px) {
  .containerMain {
    padding: 1.3rem 0;
    max-width: 620px;
  }
}

@media only screen and (min-width: 780px) {
  .containerMain {
    padding: 1.3rem 0;
    max-width: 765px;
  }
}

@media only screen and (min-width: 900px) {
  .containerMain {
    padding: 1.3rem 0;
    max-width: 880px;
  }
}

.containerMain__heading {
  font-size: 1.2rem;
  text-align: center;
}

@media only screen and (min-width: 625px) {
  .containerMain__heading {
    font-size: 1.8rem;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding-top: 1rem;
  overflow: hidden;
  margin-bottom: 3rem;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(119, 119, 119, 0.28);
          box-shadow: 0px 0px 7px 1px rgba(119, 119, 119, 0.28);
  cursor: pointer;
}

@media only screen and (min-width: 545px) {
  .card {
    min-width: 20rem;
  }
}

.card > .card__heading {
  width: 100%;
  text-align: center;
  font-family: 'Kaushan Script';
  font-weight: 100;
  font-size: 2rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-right: 0.5rem;
  font-family: 'Kaushan Script';
  background: linear-gradient(160deg, #fdcb46 40%, #ffe7a7 62%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 470px) {
  .card > .card__heading {
    font-size: 2.1rem;
  }
}

@media only screen and (min-width: 545px) {
  .card > .card__heading {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 625px) {
  .card > .card__heading {
    font-size: 2.6rem;
  }
}

.sect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
  font-size: 1rem;
  font-family: 'Kalam';
  text-align: center;
  width: 95%;
}

.sect.--dessert {
  padding-bottom: 6rem;
}

@media only screen and (min-width: 545px) {
  .sect {
    padding: 0 1rem;
    font-size: 1rem;
    font-family: 'Kalam';
    text-align: left;
    width: 95%;
  }
}

.sect > .sect__subHeading {
  text-align: center;
  display: block;
  font-weight: 400;
  font-size: 1.2rem;
}

@media only screen and (min-width: 625px) {
  .sect > .sect__subHeading {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 780px) {
  .sect > .sect__subHeading {
    font-size: 1.4rem;
  }
}

.sect > .sect__subHeading::after {
  content: "";
  display: block;
  width: 30%;
  height: 0.5rem;
  background: url("../../Public/Images/rightStraightPaletteDuGoutdegCitron.svg") center center/contain no-repeat;
  -webkit-transform: translate(11rem, -1.1rem);
          transform: translate(11rem, -1.1rem);
}

@media only screen and (min-width: 470px) {
  .sect > .sect__subHeading::after {
    -webkit-transform: translate(14rem, -1.1rem);
            transform: translate(14rem, -1.1rem);
  }
}

@media only screen and (min-width: 545px) {
  .sect > .sect__subHeading::after {
    -webkit-transform: translate(21.3rem, -1.1rem);
            transform: translate(21.3rem, -1.1rem);
  }
}

@media only screen and (min-width: 625px) {
  .sect > .sect__subHeading::after {
    -webkit-transform: translate(24.9rem, -1.1rem);
            transform: translate(24.9rem, -1.1rem);
    height: 0.4rem;
  }
}

@media only screen and (min-width: 780px) {
  .sect > .sect__subHeading::after {
    -webkit-transform: translate(31rem, -1.1rem);
            transform: translate(31rem, -1.1rem);
    height: 0.5rem;
  }
}

@media only screen and (min-width: 900px) {
  .sect > .sect__subHeading::after {
    -webkit-transform: translate(35.5rem, -1.1rem);
            transform: translate(35.5rem, -1.1rem);
  }
}

.sect > .sect__subHeading::before {
  content: "";
  display: block;
  width: 30%;
  height: 0.5rem;
  background: url("../../Public/Images/leftStraightPaletteDuGoutDegradécitron.svg") center center/contain no-repeat;
  -webkit-transform: translate(-1.9rem, 1.3rem);
          transform: translate(-1.9rem, 1.3rem);
}

@media only screen and (min-width: 545px) {
  .sect > .sect__subHeading::before {
    -webkit-transform: translate(-1.3rem, 1.3rem);
            transform: translate(-1.3rem, 1.3rem);
  }
}

@media only screen and (min-width: 625px) {
  .sect > .sect__subHeading::before {
    -webkit-transform: translate(-1.3rem, 1.3rem);
            transform: translate(-1.3rem, 1.3rem);
  }
}

@media only screen and (min-width: 780px) {
  .sect > .sect__subHeading::before {
    -webkit-transform: translate(-1.3rem, 1.5rem);
            transform: translate(-1.3rem, 1.5rem);
  }
}

@media only screen and (min-width: 545px) {
  .sect > ul > li {
    text-align: left;
    padding-bottom: 1rem;
  }
}

.sect > ul > li::after {
  content: attr(data-count);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1rem;
}

@media only screen and (min-width: 545px) {
  .sect > ul > li::after {
    content: attr(data-count);
    float: right;
    padding: 0 1rem;
  }
}

@media only screen and (min-width: 625px) {
  .sect > ul > li::after {
    content: attr(data-count);
    float: right;
    padding: 0 1rem;
  }
}

@media only screen and (min-width: 780px) {
  .sect > ul > li::after {
    content: attr(data-count);
    float: right;
  }
}

.--backPalette {
  background: #fdfffd;
}

span {
  background: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor)) no-repeat bottom left;
  background: linear-gradient(currentColor, currentColor) no-repeat bottom left;
  background-size: 0px 1px;
  padding-bottom: 0.25rem;
}

span:hover {
  background-size: 100% 2px;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transition: background-size 250ms ease-in-out;
  transition: background-size 250ms ease-in-out;
}

.header {
  text-align: center;
}

.header.header__heading {
  margin: 0 auto;
  padding: 0.6rem 0;
  font-size: 2.8rem;
  letter-spacing: -0.2rem;
  font-weight: 900;
}

@media only screen and (min-width: 545px) {
  .header.header__heading {
    font-size: 3.7rem;
  }
}

@media only screen and (min-width: 625px) {
  .header.header__heading {
    font-size: 4.5rem;
  }
}

@media only screen and (min-width: 780px) {
  .header.header__heading {
    font-size: 4.7rem;
  }
}

@media only screen and (min-width: 900px) {
  .header.header__heading {
    padding: 1.8rem 0;
    font-size: 6rem;
  }
}

.--outlinePrimary {
  background: #579c87;
}

.--outlineTextPrimary {
  color: #fdcb46;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1rem;
}

@media only screen and (min-width: 545px) {
  .footer {
    padding: 1rem;
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 625px) {
  .footer {
    padding: 1.1rem;
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 780px) {
  .footer {
    padding: 1.2rem;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 900px) {
  .footer {
    padding: 1.3rem;
    font-size: 1.6rem;
  }
}

footer > div > a {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: wiggle .3s infinite;
          animation: wiggle .3s infinite;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0.4deg);
            transform: rotate(0.4deg);
  }
  100% {
    -webkit-transform: rotate(-0.4deg);
            transform: rotate(-0.4deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0.4deg);
            transform: rotate(0.4deg);
  }
  100% {
    -webkit-transform: rotate(-0.4deg);
            transform: rotate(-0.4deg);
  }
}
/*# sourceMappingURL=styleMentionsLegales.css.map */