.btn {
  display: flex;
  justify-content: space-between;
  width: 13rem;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 0.6rem;
  border: none;
  padding: 0.5em 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  margin-top: 0.9rem;
  overflow: hidden;

  @include media(sm) {
    font-size: 1.1rem;
    width: 21rem;
    padding: 0.25em 1em;
    font-size: $fontSize*1.9;
    margin-bottom: 5rem;
  }

  @include media(md) {
    width: 22rem;
    padding-left: 1.1em;
    padding-right: 1em;
    font-size: $fontSize*2;
  }

  @include media(lg) {
    width: 28rem;
    padding-left: 1.8em;
    padding-right: 1em;
    font-size: $fontSize*2.2;
  }

  &>.containerball {
    display: flex;
    align-items: flex-end;
    justify-items: center;
    justify-content: space-around;
    width: 10%;
    padding-bottom: .1rem;
    margin-right: 0.9rem;
    margin-left: 1rem;

    @include media(sm) {
      width: 10%;
    }

    @include media(xs) {
      width: 10%;
    }

    @include media(lg) {
      width: 10%;
      margin-left: 0rem;
    }

    &>.containerball__ball {
      width: $size;
      padding-left: 0.2rem;
      height: $size;
      padding-left: 0.5rem;
      margin-left: 0.1rem;
      border-radius: 50%;
      animation: ball $animDur 10s ease-in-out alternate infinite;

      &.m--cl1 {
        background: #fdcb46;

      }

      &.m--cl2 {
        background: #fdcb46;

      }

      &.m--cl3 {
        background: #fdcb46;

      }


      @include media(sm) {
        margin-bottom: 0.3rem;
        width: $size;
        margin-left: 0.1rem;
      }

      @include media(lg) {
        margin-left: 0rem;
        width: $size*1.2;
      }

      @for $i from 1 through $numBall {
        &--b#{$i} {
          animation-delay: 5s+ ($animDur/$numBall)*$i;
        }
      }
    }
  }
}

@keyframes ball {

  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1rem);
  }
}