*,
::before,
::after {
  box-sizing: border-box;

}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16;
  font-family: 'Open Sans', "sans-serif";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #fff;
}



body {
  background-color: #fff;
}

ul,
li {
  margin: 0;
  padding: 0;

}

li {
  list-style: none;
}

a {

  color: inherit;
  text-decoration: none;

}