// ColorsMap// 
$palettes:(outlinePrimary:#579c87,
  outlineTextPrimary:#fdcb46,
  backGrSite:#fff,
  backNote:#fcdfdb,
  backChic:#fff5fe,
  backDelice:#f9f9f9,
  backPalette:#fdfffd,
  titleNote:#3c1318,
  titleChic:#fff5fe,
  titleDelice:#f9f9f9,
  titlePalette:#fdfffd,
  subTitleNote:#3c1318,
  subTitleChic:#c77412,
  subTitleDelice:#0887fb,
  subTitlePalette:#72bf56,
  // GradientMusicNote:(#f04e5f,905bfd)
  // GradientTitleChic:(#e38913,#a366c5)
  // GradientTitleDelice:(#0022db,#1a91fb)
  // GradientTitlePalette:(#3d923a,#beff7f)
  textNote:#3c1318,
  textChicSection1:#c77412,
  textChicSection2:#a56799,
  textChicSection3:#6e4ccc);


// breakpoints//
$breakpoints: (
  /* ********** Extra Small devices ******** */
  xs: (max-width: 510px),

  /* ********** Small devices ******** */
  sm:(min-width: 511px),

  /* ************* Medium devices ******** */
  md:(min-width: 760px),
  /* ********** Large devices ******** */
  lg:(min-width: 900px),

  /* ********** ExtraLarge devices ******** */
  xl: (min-width: 1300px));


$containerMaxWidths: (xs: auto,
  sm: 600px,
  md: 730px,
  lg: 900px,
  xl: 1450px);


$fontSize:1rem;
$boxShadow: 0px 0px 7px 1px rgba(119, 119, 119, 0.28);
$cardheight:22rem;
$cardwidth: 14rem;
$minwidth:12.5rem;